.navbar {
  background-color: #1ed4fd; }
  .navbar .container-fluid .navbar-brand {
    color: white; }
  .navbar .navbar-collapse .navbar-nav a {
    color: white; }

footer {
  height: 10vw;
  background-color: darkblue; }
  footer figure {
    height: 100%;
    text-align: center; }
    footer figure img {
      height: 100%; }

.main_index {
  height: 90vh;
  background: black;
  background: radial-gradient(circle, black 0%, black 34%, #003558 56%, #004a7a 68%, #0066aa 78%, #0091f1 93%, #0099ff 100%); }

.main_button {
  display: grid;
  grid-template-columns: .85fr 1.3fr .85fr; }
  .main_button div {
    height: 90vh; }
  .main_button .main_button__center ul {
    padding: 0;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .main_button .main_button__center ul a {
      font-size: 1.25rem;
      text-decoration: none;
      color: white; }
      .main_button .main_button__center ul a li {
        list-style: none;
        width: 100px;
        height: 70px;
        border: 2px solid white;
        border-radius: .5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }

.covid__box .covid__title {
  text-align: center; }

.covid__box .boxes {
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .covid__box .boxes .boxTxt {
    height: 100%;
    background-color: #0088ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .covid__box .boxes .boxTxt p {
      color: white;
      text-align: center;
      width: 70%; }
  .covid__box .boxes .boxImg {
    height: 100%; }

@media (min-width: 992px) {
  /* Header */
  .navbar .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: end; }
    .navbar .navbar-collapse .navbar-nav a {
      padding-right: 50px; } }

@media (max-width: 991px) {
  /* Header */
  .navbar .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .navbar .navbar-collapse .navbar-nav a {
      text-align: center; } }

@media (max-width: 857px) {
  /* Covid */
  .boxTxt p {
    width: 100% !important; } }

@media (max-width: 584px) {
  /* Covid */
  .boxes {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important; }
    .boxes .boxImg img {
      text-align: center; } }

@media (max-width: 575px) {
  /* Index */
  .main_index {
    background: black;
    background: radial-gradient(circle, black 0%, black 45%, #014674 62%, #026fb7 75%, #0391ef 91%, #0099ff 100%); }
  .main_button {
    grid-template-columns: 1fr; }
  .main_button__center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .main_button__center ul {
      flex-direction: column !important;
      height: 70% !important; }
      .main_button__center ul a {
        font-size: 1rem; }
  .main_button__space {
    display: none; }
  /* Footer */
  footer {
    height: 20vw; }
    footer figure {
      height: 100%; }
      footer figure img {
        height: 100%; } }
