@media (max-width: 1510px) {
    /* Covid */

    .boxTxt{
        width: 40vw !important;
        height: 40vw !important;
        p{
            font-size: 1.25rem;
        }
    }
    .boxImg{
        width: 40vw !important;
        height: 40vw !important;
    }
}

@media (max-width: 1000px) {
    /* Covid */

    .boxTxt{
        p{
            font-size: 1.25rem;
            width: 100% !important;
        }
    }
}

@media (min-width: 992px) {
    /* Header */

    .navbar{
        .navbar-collapse{
            display: flex;
            flex-direction: row;
            justify-content: end;
            .navbar-nav{
                a{
                    padding-right: 50px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    /* Header */

    .navbar{
        .navbar-collapse{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .navbar-nav{
                a{
                    text-align: center;
                }
            }
        }
    }

    /* Index */
    .main_index{
        flex-direction: column;
    }

    .main_text{
        height: 47.5vh;
        width: 65vw;
    }

    .main_button{
        height: 47.5vh;
        width: 65vw;
        .main_button__center{
            ul{
                flex-direction: row !important;
            }
        }
    }
}

@media (max-width: 857px) {
    /* Covid */
    
    .boxTxt{
        width: 50vw !important;
        height: 50vw !important;
        p{
            font-size: 1.25rem;
        }
    }
    .boxImg{
        width: 50vw !important;
        height: 50vw !important;
    }
}

@media (max-width: 666px) {
    /* Covid */
    
    .boxTxt{
        p{
            font-size: 1rem;
        }
    }
}

@media (max-width: 652px) {
    /* Covid */

    .boxes{
        display: grid !important;
        grid-template-rows: 1fr 1fr !important;
        grid-template-columns: 1fr !important;
        grid-template-areas:"boxTxt"
                            "boxImg";
        
        .boxTxt{
            grid-area: boxTxt;
            width: 75vw !important;
            height: 75vw !important;
            margin-left: 12.5vw;
            p{
                font-size: 1.25rem;
            }
        }
        .boxImg{
            grid-area: boxImg;
            width: 75vw !important;
            height: 75vw !important;
            margin-left: 12.5vw;
        }
    }
}

@media (max-width: 612px) {
    /* Index */

    .main_text{
        width: 100vw;
    }

    .main_button{
        width: 100vw;
    }
}

@media (max-width: 575px) {

    /* Footer */

}

@media (max-width: 430px) {
    /* Covid */
    
    .boxes{
        .boxTxt{
            grid-area: boxTxt;
            width: 100vw !important;
            height: 100vw !important;
            margin: 0;
            p{
                font-size: 1.25rem;
            }
        }
        .boxImg{
            grid-area: boxImg;
            width: 100vw !important;
            height: 100vw !important;
            margin: 0;
        }
    }

    /* Footer */
}

@media (max-width: 334px) {
    /* Covid */
    
    .boxes{
        .boxTxt{
            p{
                font-size: 1rem !important;
            }
        }
    }
}